# Environment Variables for AppEvents

# Database
DATABASE_URL=
# JWS Signing Secret
SignJWS=

# YouTube API
YOUTUBE_API_KEY=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=

# Twilio 
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Server
PORT=3001
SEND_SMS=false

# Production Settings
PRODUCTION=false
URLLOCAL=http://192.168.0.169:3001
VITE_CHARCTERSEEKYOUTUBE=5

# Email API
EMAIL_API_URL=
EMAIL_API_PASSWORD=
API_BASE_URL=https://http://108.165.47.65
APP_NAME="DJZoomParty"
